<h1>Edit Place</h1>

<form method="POST">
  <label for="name-input">Name</label>
  <input id="name-input" type="text" placeholder="Name" name="name">

<select name="type">
  <option>Options</option>
  <option type="text"  value="coffee_shop"> Coffee Shop </option>
 <option type="text"  value="bookstore"> Book Store </option>
</select>
  <button>Save Place</button>
</form>